<div class="center-container">
  <div class="form-container">
    <form [formGroup]="form" (submit)="send()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>ФИО</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="form.controls.name.touched && form.controls.name.invalid">
          <span *ngIf="form.controls.name.errors.required">Введите ФИО.</span>
          <span *ngIf="form.controls.name.errors?.minlength">
            ФИО должно быть длиннее {{ minNameLength }} символов
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="form.controls.email.touched && form.controls.email.invalid">
          <span *ngIf="form.controls.email.errors.required">Введите email.</span>
          <span *ngIf="form.controls.email.errors.email">Некорректный email.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Пароль</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="form.controls.password.touched && form.controls.password.invalid">
          <span *ngIf="form.controls.password.errors.required">Введите пароль.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Повторите пароль</mat-label>
        <input matInput formControlName="passwordConfirm" type="password">
        <mat-error *ngIf="form.controls.passwordConfirm.touched && form.controls.passwordConfirm.invalid">
          <span *ngIf="form.controls.passwordConfirm.errors.required">Введите пароль.</span>
          <span *ngIf="form.controls.passwordConfirm.errors?.match">Пароли должны совпадать.</span>
        </mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-checkbox class="caption" formControlName="agree">
          Я принимаю <a href="#">правила и условия</a>.
        </mat-checkbox>
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Зарегистрироваться
      </button>
      <p class="secondary-text text-center">
        <a [routerLink]="['/login']">Войти на сайт</a>
      </p>
    </form>
  </div>
</div>
